<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6" style="padding: 25px;">
                <%= link_to image_tag('esln.png', :class => "img-responsive img-centered"), "http://esln.org", :target => "_blank" %>
            </div>
            <div class="col-md-4 col-sm-6" style="padding: 25px;">
                <%= link_to image_tag('metro.png', :class => "img-responsive img-centered"), "http://metro.org", :target => "_blank" %>
            </div>
            <div class="col-md-4 col-sm-6" style="padding: 25px;">
                <%= link_to image_tag('dpla.png', :class => "img-responsive img-centered"), "http://dp.la", :target => "_blank" %>
            </div>
        </div>
    </div>
</aside>
<footer>
    <div class="container">
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-4" style="text-align:left;">
                <%= link_to "For Contributors", "http://empirestate.digital", :target => "_blank" %></div>
            <div class="col-md-4" style="text-align:center;">
                <ul class="list-inline social-buttons" style="color:black;">
                    
                    <li><a href="https://twitter.com/NYSdigital"><i class="fa fa-twitter"></i></a>
                    </li>
                    
                    <li><a href="https://github.com/ESDNhub"><i class="fa fa-github"></i></a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-md-4" style="text-align:right;">
                <ul class="list-inline quicklinks">
                    <li><%= link_to "About", "/pages/about" %></li>
                    <li><%= link_to "Feedback", "https://goo.gl/forms/0PiBy13sMUiOqiKH2" %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
